.lessons-wrapper {
  padding: 24px;
}

.lp-left-nav {
  color: black;
}

.lp-color-scheme-light .lp-left-nav .section-title {
 background:#f6f8fb;
 color:#565656;
 margin: 8px 0;
 padding: 0px 6px;
 border-radius: 6px;
 font-size: 13px;
 font-family: Gotham;
 line-height: 23px;
}

#lp-left-nav {
  font-size: 13px;
  font-family: Gotham;
  line-height: 23px;
}

#lp-left-nav .lesson {
  color: black;
}

#lp-left-nav .lesson-active {
  background: none;
  color: #45205f;
}

#lp-left-nav .lesson-active .title:before {
  content: "\f061";
  font-family: FontAwesome;
  background: none;
  color: #45205f;
}

.lesson-active > .type-icon {
  display: none;
  visibility: hidden;
}

.lp-left-nav .lesson-complete .lesson-row {
  color: #45205f;
}

.bullet {
  display: none;
  visibility: hidden;
}

#lesson-body {
  background: white;
}

.course-scrollable-content {
  border: none;
}

#lp-wrapper #lesson-body .lesson-top {
  padding: 41px;
}

#lp-wrapper #lesson-body .lesson-top h2 {
 font-size:37px;
 display:inline;
 color: #45205f;
}

#lp-wrapper #lesson-body.details-pane-left #lesson-main-content, #lp-wrapper #lesson-body.details-pane-right #lesson-main-content {
  width: 100%
}

body.cbp-spmenu-fixed.sj-page-lesson:not(.lesson-fullscreen) #lp-wrapper #lesson-body #lesson-main {
  overflow: scroll;
}
