.storefront-price {
  display:none;
}

.sj-course-ribbon-wrapper {
  display:none;
}

a.coursebox-container {
  border-color: #cbd2db;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px;
}

a.coursebox-container.course .coursebox-image {
 align-self: center;
}


a.coursebox-container:hover {
  border-color: black;
  box-shadow: unset;
}

a.coursebox-container:hover img {
  opacity: 0.75;
}

a.coursebox-container .course-time {
  position: unset;
  color: #cbd2db;
  font-size: 13px;
  align-self: flex-end;
}

a.coursebox-container .coursebox-text {
  font-size: 15px;
  padding: unset;
  margin-bottom: 6px;
}

a.coursebox-container .catalog-page-callout {
  position: unset;
  font-size: 13px;

}

a.coursebox-container .coursebox-text-description {
  padding: unset;
  font-size: 13px;
  display: block;
}

a.coursebox-container .catalog-page-callout {
  position: unset;
  font-size: 13px;
  align-self: flex-end;
  color: #565656;
}

a.coursebox-container.course .coursebox-text-description {
  display: block;
}

a.coursebox-container .coursebox-text-description {
  padding: 8px 0;
  font-size:13px;
  flex-grow: 1;
  border-bottom: 1px solid #dadada;
}

#catalog-left-nav {
  background-color: #45205f;
  font-size: 13px;
}

#catalog-left-nav .catalog-filter-menu button {
  font-weight: lighter;
}

#catalog-reset, #catalog-filter-expand-collapse {
  border: 1px solid white;
}


.catalog-search-input-group {
  display: block;
  padding: 13px;
}

.catalog-search-input-group .catalog-search-input {
  border-radius: 22px;
  padding: 13px;
}

.catalog-search-input-group .catalog-search-input-button-wrapper {
  display: none;
}

.catalog-filter-menu {
  padding: 13px;
}

button.tiny {
  font-size: 13px;
  font-weight: 300;
  padding: 6px 13px;
}

#catalog-reset, #catalog-filter-expand-collapse {
  border: 1px solid white;
}

#catalog-filter-menu .filter-name {
  color: white;
}

#catalog-filter-menu i {
  color: #efb71b;
}

#catalog-filter-menu .filter-counter {
  color: #cbd2db;
}

#catalog-filter-menu h3 {
  font-size: 15px;
  color: white;
}

#catalog-filter-menu hr {
  color: white;
}

.filter-option .fa-stack {
  font-size: 13px;
  color: #565656;
}

.catalog-filters #skilljar-content.m-none {
  margin: unset;
}

.no-catalog-filters .catalog-center-width {
  min-width: 320px;
  max-width: 960px;
}

.sj-catalog-root #catalog-courses {
  justify-content: space-between;
}

.bg-darkblue {
  background: #142E7B;
  color: white;
}

.bg-purple {
  background: #45205f;
  color: white;
}

.bg-purple h3 {
  color: white;
}

#why-academy {
  display: block;
}

#why-academy h1 {
  color: #45205f;
  font-size: 31px;
  text-align: center;
}

#why-academy p {
  font-size: 15px;
}

#why-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 767px) {
  #why-cards {
    flex-direction: column;
  }
}

.why-card {
  min-width: 240px;
  margin-right: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-card img {
  height: 120px;
  width: 120px;
}

.hero {
 display: flex;
 padding: 0 48px;
 min-width: 320px;
 max-width: 960px;
 margin: 0 auto;
}

.hero > * {
  margin: 48px;
}


.hero h1 {
  font-size: 31px;
  color: white;
}

.hero p {
  font-size: 15px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-link {
  padding: 8px 13px;
  border-radius: 21px;
  background: #efb71b;
  color: #142E7B;
  font-size: 15px;
  margin: 8px 0;
}

[data-catalog-page=""] .top-row .one-col-full,
[data-catalog-page="homepage"] .top-row .one-col-full {
 background-image:url(https://eu.ftp.opendatasoft.com/odsacademy/img/classroom.png);
 background-size:auto 320px;
 margin: 0 auto 41px auto;
 background-repeat: no-repeat;
 background-position: top right;
}


[data-catalog-page="parcours-thematiques"] .top-row .one-col-full,
[data-catalog-page="thematic-courses"] .top-row .one-col-full {
  background-image: url(https://eu.ftp.opendatasoft.com/odsacademy/img/books.jpg);
  background-size:auto 320px;
  margin: 0 auto 41px auto;
  background-repeat: no-repeat;
  background-position: top right;
}

[data-catalog-page="parcours-thematiques"] .catalog-center-width .catalog-header,
[data-catalog-page="thematic-courses"] .catalog-center-width .catalog-header,
[data-catalog-page="homepage"] .catalog-center-width .catalog-header,
[data-catalog-page=""] .catalog-center-width .catalog-header{
  width: 50%;
  min-width: 320px;
  background: white;
  margin: 0 -24px;
  padding: 24px;
}
