body {
 background:#fff;
 color:#222;
 padding:0;
 margin:0;
 font-family:Montserrat;
 font-weight:400;
 font-style:normal;
 line-height:22px;
 position:relative;
 cursor:default
}

#cp-content h2,
#cp-content h3 {
 font-size:22px;
}

#cp-content h2 span {
  font-size: 13px;
}


.section-container.tabs {
  display: flex;
}

section {
  min-width: 320px;
}

section p.title {
  display: none;
}

.section-container.tabs section .content,
.section-container.tabs .section .content {
 border:1px solid transparent;
}

#cp-content hr {
  display: none;
}

#cp-content #curriculum-list .lesson-row {
  display: flex;
  justify-content: flex-start;
  align-content: baseline;
  height: unset;
  gap: 6px;
  padding: 0 6px;
}

#cp-content #curriculum-list .lesson-row .title {
  right: unset;
  position: unset;
  margin-top: unset;
  width: unset;
  margin-top: unset;
  width: unset;
  white-space: unset;
  font-size: 13px;
  color: black;
}

#cp-content #curriculum-list .lesson-row .type-icon {
  left: unset;
  right: unset;
  position: unset;
  margin-top: unset;
  width: unset;
  margin-top: unset;
  width: unset;
  white-space: unset;
}

#cp-content #curriculum-list .lesson-row .type-icon i {
  font-size: 13px;
  line-height: 22px;
}

.lesson-section {
  font-size: 13px;
  color: rgb(86, 86, 86);
  background: rgb(246, 248, 251);
  border-radius: 6px;
  padding: 6px;
}

.lesson-section i {
  float: right;
  font-size: 13px;
}

#cp-content #curriculum-list .lesson-section .fa-caret-down {
 font-size:13px;
}

.content p {
  font-size: 15px;
  color: rgb(86, 86, 86);
}

