.course-box {
  border-radius: 6px;
  padding: 26px;
}

.course-box-highlight {
  color: #45205f;
  background: rgba(69, 32, 95, 0.26);
}

.course-box-exemple {
  color: rgb(20, 46, 123);
  background: rgba(20, 46, 123, 0.13);
}

.course-box-info {
  background: rgb(246, 248, 251);
}
