body {
 background:#fff;
 color:#222;
 padding:0;
 margin:0;
 font-family:Montserrat;
 font-weight:400;
 font-style:normal;
 line-height:22px;
 position:relative;
 cursor:default
}

#cp-content h3,
#cp-content .h3-style {
 font-size:22px;
}


.section-container.tabs {
  display: flex;
}

section {
  min-width: 320px;
}

section p.title {
  display: none;
}

.section-container.tabs section .content,
.section-container.tabs .section .content {
 border:1px solid transparent;
}

#cp-content hr {
  display: none;
}

#cp-content #curriculum-list .lesson-row {
  display: flex;
  justify-content: flex-start;
  align-content: baseline;
  height: unset;
  gap: 6px;
}

#cp-content #curriculum-list .lesson-row .title {
  right: unset;
  position: unset;
  margin-top: unset;
  width: unset;
  margin-top: unset;
  width: unset;
  white-space: unset;
  font-size: 13px;
  color: black;
}

#cp-content #curriculum-list .lesson-row .type-icon {
  left: unset;
  right: unset;
  position: unset;
  margin-top: unset;
  width: unset;
  margin-top: unset;
  width: unset;
  white-space: unset;
}

#cp-content #curriculum-list .lesson-row .type-icon i {
  font-size: 13px;
  line-height: 22px;
}

#cp-content #curriculum-list .lesson-row, .lesson-row > * {
  position: relative;
}
