body {
   background:#fff;
   color:#222;
   padding:0;
   margin:0;
   font-family: GothamPro, sans-serif;
   font-weight: 300 !important;
   line-height:22px;
   position:relative;
   cursor:default
}

p, span, ul {
  font-weight: 300 !important;
}

.button-border-color {
  border-color: rgb(69, 32, 95);
}

.button-background {
  background-color: rgb(69, 32, 95);
}

/* utilities */
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.align-top {
  align-items: flex-start;
}

.m-none {
  margin: unset;
}
