#header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: unset;
  padding-top: 13px;
}

#header .headerheight {
  height: unset;
}

#header #header-left {
  position: unset;
}

#header #header-right {
  position: unset;
  display: flex;
  align-items: flex-start;
  padding: 0 13px;
}

#header .header-dropdown-button {
  padding: 0 13px;
}

#header .header-dropdown-button::before {
  display: none;
}

/* overrides default table cell */
.align-vertical {
  display: flex;
  align-items: center;
}

.back-to-catalog {
  visibility: hidden;
  display: none;
}

.header-logo-link {
  display: flex;
  align-items: center;
}
.header-logo-link:after {
  content: "academy";
  font-size: 22px;
  font-weight: 600;
  color: black;
  font-family: GothamPro, sans-serif;
}

.header-center-img {
  margin: 3px 3px 0;
  width: 16px;
  height: 16px;
}

.header-link {
  font-size: 13px;
}

.header-link.hover {
  color: rgb(69, 32, 95);
}

#header .header-dropdown-button img {
 border-radius:50%;
 border:none;
}

button,
.button {
  color: white;
  background: rgb(69, 32, 95);
  border-radius: 18px;
  font-size: 13px;
  margin: unset;
}

.header-lang-btn {
  position: relative;
  top: 0;
  transition: margin-top 0.05s ease;
}

details[open] summary {
  margin-bottom: 6px;
}

details:not([open]) summary {
  margin-bottom: 0;
}

details summary {
  transition: margin-bottom 0.05s linear;
}
