.back-to-catalog {
  visibility: hidden;
  display: none;
}

.header-logo-link {
  display: flex;
  align-items: center;
}
.header-logo-link:after {
  content: "academy";
  font-size: 22px;
  font-weight: 600;
  color: black;
  font-family: Montserrat;
}

.header-center-img {
  margin: 3px 3px 0;
  width: 16px;
  height: 16px;
}

button,
.button {
 color: rgb(20, 46, 123);
 background: white;
 border: 1px solid;
 border-radius: 18px;
}

.header-link {
  font-size: 13px;
}

.header-link.hover {
  color: rgb(69, 32, 95);
}
