#header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: unset;
  padding: 13px;
  max-height: 60px;
  overflow: visible;
}

#header .headerheight {
  height: unset;
}

#header #header-left {
  position: unset;
}

#header #header-right {
  position: unset;
  display: flex;
  align-items: flex-start;
  padding: 0 13px;
}

#header .header-dropdown-button {
  padding: 0 13px;
}

#header .header-dropdown-button::before {
  display: none;
}

/* overrides default table cell */
.align-vertical {
  display: flex;
  align-items: center;
}

/* .back-to-catalog {
  visibility: hidden;
  display: none;
} */

.header-logo-link {
  display: flex;
  align-items: center;
}
.header-logo-link:after {
  content: "academy";
  font-size: 22px;
  font-weight: 600;
  color: black;
  font-family: GothamPro, sans-serif;
}

.header-center-img {
  margin: 3px 3px 0;
  width: 16px;
  height: 16px;
}

.header-link {
  font-size: 13px;
}

.header-center-img {
 width:21px;
 height:21px;
 margin: 0 6px;
}


.header-link.hover {
  color: rgb(69, 32, 95);
}

#header .header-dropdown-button img {
 border-radius:50%;
 border:none;
}

button,
.button {
  color: white;
  background: rgb(69, 32, 95);
  border-radius: 18px;
  font-size: 13px;
  margin: unset;
}

.header-lang-btn {
 position:relative;
 top:0;
 transition:margin-top .05s ease;
 color:#45205f;
 background:white;
 border:2px solid #45205f;
 border-radius:15px;
 font-size:13px;
 padding: 3px 13px;
 font-weight: 400;
}


details[open] summary {
  margin-bottom: 6px;
}

details:not([open]) summary {
  margin-bottom: 0;
}

details summary {
  transition: margin-bottom 0.05s linear;
}

#ep-footer #footer-left {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
  font-size: 13px;
}

#ep-footer #footer-left > * {
  margin: 0 6px;
}
