a.coursebox-container.sj-course-series::before {
  border-radius: 6px;
}

a.coursebox-container .course-series-count {
  position: relative;
  bottom: auto;
  right: auto;
  text-align: unset;
  align-self: flex-end;
}

a.coursebox-container.course.sj-path .coursebox-image img {
  max-width: calc(100% + 13px);
  max-height: calc(100% + 13px);
}

a.coursebox-container.course.sj-path .coursebox-image {
  margin: -13px -13px 26px -13px;
  overflow: clip;
}
